@import url('https://fonts.googleapis.com/css2?family=Jaini&display=swap');
.body{
    background-color: rgb(37, 37, 37);
}
.Navcolor{
    background-color: rgb(61, 61, 61);
}
.HeaderButtons{
    border-style: solid;
    border-width: 4px;
    border-color:black;
}
.Buttons{
    color: white;
            font-size: 3.5rem;
  font-family: 'Jaini';
  font-style: normal;
  font-weight: 400;
}


